{{template "header" .}}
<div class="px-6">
  <h1 class="text-4xl semibold py-4 tracking-tighter">Contact page</h1>
  <p>
    You can contact me at
    <a class="underline text-blue-600" href="john@doe.com">john@doe.com</a>
  </p>
</div>
{{template "footer" .}}
