{{template "header" .}}

<div class="py-12 flex justify-center">
  <div class="p-8 bg-white rounded-lg shadow">
    <h1 class="pt-4 pb-4 text-center text-2xl font-bold text-gray-900">
        Checkout canceled
    </h1>
    <p class="text-sm text-gray-600 pb-4">
        Forgot to add something to your cart? Shop around then come back to pay!
    </p>
  </div>
</div>

{{template "footer" .}}
